
:root {
    --heading-color: rgb(225, 226, 236);
    --body-text: rgb(236, 232, 232);
    --ideas-color: white;
    --font-family: 'Roboto Slab', serif;
    --font-family-letters:'PT Serif', serif;
    --glass-main-color:rgba(255, 255, 255, 0.3);
}
body {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
  }

body{
    /* background-image: url(../image/bak4.jpg); */
    
    background-image: url(../image/bak2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:repeat;
}


main{
    background-color: rgba(10, 7, 7, 0.792);
    /* font-family: var(--font-family); */
    width: 45%;
    
    margin: 12em auto;
    border: 2px solid rgb(194, 192, 192);
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    
}

header{
    /* text-align: center; */
    padding-left: 1.9em;
    width:100%;
    display: flex;
    justify-content: center;
    font-family: var(--font-family-letters);

    color: rgb(186, 208, 228);
    flex-direction: column;

}

body > main > header > h4{
    align-self: flex-end;
    padding-right: 1em;
    margin-top: -0.9em;
    color:rgb(9, 199, 53);
}


section.playcontent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
section>*{
   
}


article.form{
    height: 18em;
    padding-right: 2em;
    padding-left: 2em;
    color:var(--ideas-color);
    font-family: var(--font-family-letters);
}


input[value="New Word"]{
    
    padding: 0.4em;
    font-size: 0.8em;
    color: rgb(174, 73, 73);
    width: 12em;
    background-color: rgb(46, 57, 57);
    
}
input[value="New Word"]:hover{
    
    
    color: rgb(39, 156, 58);
    
}
.result{
    border-left: 3px solid rgb(56, 49, 34);
    /* height: 29em; */
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-letters);
    justify-content: center;
    font-size: 1em;
    font-weight: 500;
    
    padding-left: 0.8em;
    max-width:19em;
    word-wrap: break-word;
    


    color:var(--ideas-color);
    word-break: break-all;
    word-wrap: break-word;
}
span.won{
    font-size: larger;
    color: rgb(241, 30, 241);
}
.clulist{
    font-size:2.7em;
    margin-top: -0.8em;
    color: #e4c607;
}



.entery{
    width: 12em;
    font-size: 1.7em;
    margin-top: 1.6em;
    color:rgb(209, 117, 4);
}
.entery input[type="text"]{
    
    border-bottom: 0.1em solid white ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(62, 62, 63);
    padding-top: 0.9em;
    color:aqua;
    font-size: 19px;

    border-radius: 5px;
}
.entery input[type="text"]:active,:focus{
    
    border-bottom: 0.1em solid white ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(35, 35, 40);
    padding-top: 0.9em;
    color:aqua;
    font-size: 19px;

    border-radius: 5px;
}

.entery input[type="submit"]{
    background-color: bisque;
    color:blue;
    font-weight: 700;
    padding: 0.4em;
    width: 10em;

    height: 2.5em;


}


.entery input[type="submit"]:focus{
    
    height: 1.7em;
    width: 6em;

}


section.message{
    display: none;
}


@media (max-width: 1150px) {
 
    

body{
    overflow: hidden;
    background-image: none;
    background-color: rgb(8, 8, 35);
    
}



main{
    margin: 1em auto;
    width: 54%;
    min-width: 375px;
    background-image: url(../image/bak1.jpg);
    background-position: right;
}

section.playcontent{
    flex-direction: column;
    flex-wrap: wrap;
    
}


article.form{
    padding: 1em;
    height: 15em;
}
.result{
    
    padding-bottom: 2em;
    border-left: 0px;
    padding-left: 1.4em;
    align-self: center;
}

}